<div class="row mt-1">
    <div class="col-2">
        Nhập số xu cần mua:
    </div>
    <div class="col-3">
        <input class="form-control" type="text" [(ngModel)]="coin" (keyup)="convert($event)" name="input" min="0"
            pattern="^[0-9]+\.[0-9][0-9]$" required>
    </div>
    <div class="col-7"></div>
    <div class="col-2">
        <p>Số tiền:</p>
    </div>
    <div class="col-10"><strong>{{money}} USD</strong></div>
    <div class="col-3"></div>
    <div class="col-6">
        <ngx-paypal [config]="payPalConfig"></ngx-paypal>
    </div>
    <div class="col-3"></div>
</div>