<div class="navbar navbar-light bg-light justify-content-between" style="background-image: linear-gradient(rgb(255, 255, 255),rgb(155, 192, 226));">
    <div class="navbar-brand">
        <img src="../assets/logo.png" width="80px" height="60px" style="margin-left: 10px;" [routerLink]="[ '/stories']">
    </div>
    <div *ngIf="show; else elseBlock">
        <div class="mr-sm-2">
       
        
        <div class="" mdbDropdown>
            <button mdbDropdownToggle type="button" mdbBtn class="dropdown-toggle">
              Xin chào, {{userName}}
            </button>
          
            <div class="dropdown-menu dropdown-primary">
              <a class="dropdown-item" [routerLink]="[ '/list', userid ]">Danh sách truyện</a>
              <a class="dropdown-item" [routerLink]="[ '/user/payment' ]">Paypal</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="divider dropdown-divider"></div>
              <a class="dropdown-item" (click)=" logout()">Đăng xuất</a>
            </div>
          </div>
        </div>
    </div>
    <ng-template #elseBlock>
        <div class="mr-sm-2">
            <div class="">
                <button class="btn btn-outline-primary" [routerLink]="[ '/login']" style="margin: 9px;">Đăng nhập</button>
                <button class="btn btn-outline-danger" [routerLink]="[ '/register']" style="margin: 9px;">Đăng kí</button>
            </div>  
        </div>  
    </ng-template>
</div>

<router-outlet></router-outlet>
